textarea {
   resize: none;
}

.no-side-margin {
	padding : 0px;
	text-align : right;
}
.wrapper {
	text-align: center;
	margin:  8px;
}
/* CSS for Manager Announcement Sections */
#new-post {
	border-bottom :2px solid #d2e1f0;
	margin: 4px;
}

.announcement{
	border : 1px solid #00008B;
	margin:  10px;
}

.gappy {
	margin : 5px ;
}

.post-person {
 	font-size: 1.2em;
 	font-weight: bold;
 	color: #000080;
}

.post-details{
	font-size : 1.1em;
}
.post-time{
	font-size: 0.9em;
	color: #2F4F4F;
}

.glyphicon.glyphicon-triangle-right {
    font-size: 0.7em;
}

.btn-xs {
	margin: 3px;
}

.btn-primary {
	margin: 8px;
}

.msg-card{
	border-bottom :2px solid #00008B;
	padding : 2px;
	margin: 2px;
}

.column{
	padding-top: 80px;
	margin-left: 35px;

}

.row{
	margin-right: 0px;
	margin-left: 0px;
}

.lower-border {
	border-bottom-style: solid;
}

#absenceTable td{
	text-align: center;
	border-bottom-style: solid;
}

#upcoming-helpouts td{
	text-align: center;
	border-bottom-style: solid;
}

.red-font {
	color: #ED4337;
}

.top-border {
	border-top-style: solid;
}

.helpout-title{
	text-align: center;
	font-weight: bolder;
	padding-top: 20px;


.vertical-align {
    display: flex;
    align-items: center;
}

.timesheet-daily-checkbox {
    margin: 10px 50px;
    padding: 10px;
    display:inline-block;
    overflow:hidden
}

.my-legend {
  max-width: 300px !important;
}