.msg-card{
	border-bottom :2px solid #00008B;
	padding : 2px;
	margin: 2px;
}

.column{
	padding-top: 80px;
}

.row{
	margin-right: 0px;
	margin-left: 0px;
}

.lower-border {
	border-bottom-style: solid;
}


.red-font {
	color: #ED4337;
}

.top-border {
	border-top-style: solid;
}

.helpout-title{
	text-align: center;
	font-weight: bolder;
	padding-top: 20px;


.vertical-align {
    display: flex;
    align-items: center;
}

.timesheet-daily-checkbox {
    margin: 10px 50px;
    padding: 10px;
    display:inline-block;
    overflow:hidden
}

div.helpout-popup {
  position: absolute;
  height: 42px; width: 220px;
  font: 30px 'Open Sans';
  font-weight: 800;
  cursor: default;
  padding: 2px;
  vertical-align: middle;
  border: 3px solid black;
  background-color: white;
  display: none; 
  background-color: red;
  z-index: 1000;
}